* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 24px;
}

main {
  max-width: 100%;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.menu li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0;
  padding: 0 0 16px;
  border-bottom: 1px solid black;
}

.menu li:not(:last-child) {
  margin-bottom: 16px;
}

.dish-name {
  text-align: left;
}

.dish-price {
  text-align: right;
  flex-shrink: 0;
  margin-left: 16px;
}
